# Archivos de caché y configuración temporal
.DS_Store
.pytest_cache/
__pycache__/

# Entorno virtual
env/
venv/

# Archivos de log
*.log

# Archivos de compilación
*.pyc
*.pyo
*.pyd

# Archivos de configuración de IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
