[submodule "Projects/GitHub/Python/Kazen/FlirtGenius/Projects/GitHub/Python/Kazen/FlirtGenius/FlirtGenius-frontend"]
	path = Projects/GitHub/Python/Kazen/FlirtGenius/Projects/GitHub/Python/Kazen/FlirtGenius/FlirtGenius-frontend
	url = https://github.com/Neiland85/FlirtGenius-frontend
